/* All the html elements has this style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Width of page cannot exceed width of the browser */
html, body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header of the page with background image */
header {
    width: 100%;
    height: 70vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(4, 4, 4, 0.7), rgba(4, 4, 4, 0.7)), url('../assets/images/header.jpg')no-repeat center center/cover;
}

header h2 {
    font-size: 4rem;
}

/* navigation with grid model */
nav {
    width: 50%;
    margin: 0 auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #333;
}

/* No dots in list */
nav li {
    list-style: none;
}

/* anchor tag style */
nav li a {
    text-align: center;
    text-decoration: none;
    color: #333;
}

/* div that contains all the members uses grid model */
.container {
    display: grid;
    width: 100%;
    height: auto;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 10px;
}

/* Each memeber is contained individually */
.container .item {
    height: 100%;
}

/* Each element within item will have 10px bottom margin */
.container .item > * {
    margin-bottom: 10px;
}

/* Name of the memebr has violet background and white color */
.container .item .name {
    padding: 1rem;
    background-color: blueviolet;
    color: #fff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Designation has grey color font */
.container .item .designation {
    color: #666;
    font-size: 1.5rem;
    position: relative;
}

/* Displays a nice line under designation */
.container .item .designation::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: blueviolet;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Footer with grid model */
footer {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background: #333;
    color: #fff;
}

/* Github repo link style */
footer a {
    color: #fff;
    text-decoration: none;
}